body {
    background-color: #004E7C;
    margin: 0px;
}

div {
    padding: 100px 12px; 
    margin: auto; 
    margin-top: 20px;
    width: 400px;
    padding: 30px 150px;
    background-color: #ff781f;
    font-family: 'Fjalla One', sans-serif;

}

input{
    width: 25%;
    padding: 20px 5px;
    border-radius: 4px;
    border:none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
    font-size: 16px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline:none;
    background-color: #ff781f;

  }

  input:focus{
    border-bottom: 2px solid red;
    width:50%;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }